global
    log stdout format raw daemon

defaults
    mode http
    timeout connect 5s
    timeout client  30s
    timeout server  30s

frontend http_in
    bind *:3000
    default_backend api_backend

backend api_backend
    option httpchk GET /health
    http-check expect status 200

    server-template api 3 api:3000 check resolvers docker
    balance roundrobin

resolvers docker
    nameserver dns1 127.0.0.11:53
    resolve_retries 3
    timeout resolve 1s
    timeout retry   1s

