global
    log stdout format raw local0
    maxconn 4096

defaults
    log     global
    mode    tcp
    timeout connect 5s
    timeout client  30s
    timeout server  30s
    option  tcplog
    option  dontlognull

# ==============================
#  DNS RESOLVER (Docker)
# ==============================
resolvers docker
    nameserver dns 127.0.0.11:53
    accepted_payload_size 8192
    hold valid 10s
    timeout retry 1s
    timeout resolve 1s


# ==============================
#  ESCRITA (MASTER)
# ==============================
frontend write_port
    bind *:5432
    default_backend master_nodes

backend master_nodes
    mode tcp

    # Health-check para master via API Patroni
    option httpchk GET /master
    http-check expect status 200

    # Descoberta dinâmica de todos os containers do serviço patroni
    server-template patroni 3 patroni:5432 check resolvers docker check port 8008


# ==============================
#  LEITURA (REPLICAS)
# ==============================
frontend read_port
    bind *:5433
    default_backend replica_nodes

backend replica_nodes
    mode tcp

    option httpchk GET /replica
    http-check expect status 200

    server-template patroni 10 patroni:5432 check resolvers docker init-addr libc,none check port 8008
